<h1><%= @patient.name %></h1>
<h2> Appointments </h2>
<%@patient.appointments.each do |appointment| %>
	<p><%= link_to(appointment.doctor.name, doctor_path(appointment.doctor)) %></p>
	<p><%= appointment.show_time %></p><br>
<% end -%>